p{text-align: justify;}
#wstep {font-size:1.2em;}
.uwaga{background-color: #ff0;}

h1 {border: 1em solid #00ff;}
h3 {border: 1em solid #00ff;}

.karta{
    border: 1px solid #cccc;
    margin-bottom: 1em;
}
.info{
    float: right;
    padding: 0.5em;
    margin: 0em;
    background: #313daf;
    color: #ffff;
}
.przycisk{
    border: 1px solid #313daf;
    font-size: 0.8em;
    padding: 0.2em;
    border-radius: 5px;
    background: #eeee;
}

.row img{
    width: 100%;
    height: auto;
}
